[submodule "detect/yolor"]
	path = detect/yolor
	url = https://github.com/WongKinYiu/yolor
[submodule "detect/yolox"]
	path = detect/yolox
	url = https://github.com/Megvii-BaseDetection/YOLOX
[submodule "detect/yolov4"]
	path = detect/yolov4
	url = https://github.com/Tianxiaomo/pytorch-YOLOv4
[submodule "paper"]
	path = paper
	url = git@github.com:daynauth/NS-Swarm---Asplos.git
